<div id="sticky-wrapper-{{uniqueId}}" class="sticky-wrapper">
  <div id="sticky-height-wrapper-{{uniqueId}}">
    <div id="sticky-content-wrapper-{{uniqueId}}" class="sticky-content-wrapper {{class}}">
      {{yield isSticky}}
    </div>
  </div>
</div>